*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
background-color: #ebe4e7;
}

.header {
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(57, 71, 68);
    color: black;
}

p {
    color: black;
    font-size: medium;
    text-align: left;
}
.header h1 {
    display: inline-block;
    font-size: 40px;
    padding-block: 10px;
    
}
 /* done */
.header div {
    color: #fff0f4;
    padding-top: 50px;
    margin-right: 20px;
    float: right ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.antonov {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 300px;
    width: 100%;    
    margin-bottom: 25px;
    background-image: url("../images/Hayden\ with\ the\ Antonov.png");
    background-position: center;
    background-size: cover;

}

.text-block {
    bottom: 20px;
    right: 20px;
    padding-block: 10px;
    background-color: rgb(59, 119, 172);
    color: black;
    padding: left;
    float: right;

}

.sidebar {
    width: 400px;
    height: 300px;
    background-color: yellow;
    font-size: larger;
    
    ;
}
.subtitle {
    box-shadow: inset;
    float: right;
}
.float-right {
    float: right;
    margin-left: 15px;

}

.content {
    float: right;
    margin-right: center;
    
}
.header div ul {
    list-style-type: none;
}

.linkedin {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
