*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
background-color: #ebe4e7;
}

.header {
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(57, 71, 68);
    color: black;
}

a {
    color: black;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    padding-block: 10px;    
}
 
.header div {
    color: #fff0f4;
    padding-top: 50px;
    margin-right: 20px;
    float: right ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.antonov {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 300px;
    width: 100%;    
    margin-bottom: 25px;
    background-image: url("../images/Hayden\ with\ the\ Antonov.png");
    background-position: center;
    background-size: cover;
}

.text-block {
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: larger;
    background-color: rgb(57, 71, 68);
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar1 {
    width: 400px;
    height: 300px;
    float: left;
    background-color: yellow;
    font-size: larger;
    border-right: solid blue 5px;
    margin-right: 5px;   
 }

.content {
    float: right;
    margin-right: center;
    text-align: right;
    font-size: 200%;
    padding-right: 5px;         
}

.paragraph {
    width: 1440px;
    height: 300px;
    background-color: silver;
    position: unset;
    display: block;
    float: right;
    margin-right: 40px;
    font-size: larger;    
}

.sidebar2 {
    width: 400px;
    height: 1600px;
    float: left;
    background-color: yellow;
    font-size: larger;
    border-right: solid blue 5px;
    margin-right: 5px;  
    margin-top: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

@media screen and (max-width: 768px) {
    .sidebar1,.sidebar2
    nav {
        flex-direction: column;
     }
}
.crew {
    width: 1440px;
    height: 700px;
    background-color: silver;
    position: unset;
    display: block;
    float: right;
    margin-right: 40px;
    font-size: larger; 
    margin-top: 20px;
}





















.imagebox {
    position: absolute;
    bottom: 0;
    left:0;
}
.subtitle {
    box-shadow: inset;
    float: right;
}
.float-right {
    float: right;
    margin-left: 15px;

}


.header div ul {
    list-style-type: none;
}

.linkedin {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}